
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/*This file contains any manual css for this page that needs to override the global styles.
This is only required when different pages style the same element differently. This is just
a hack to deal with our current css styles and no new styling should be added in this file.*/

#ipython-main-app {
    position: relative;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #444; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #111;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* The button used to open the sidebar */
.openbtn {
  float: right;
  font-size: 36px;
/*  margin-left: 50px;*/
  font-size: 20px;
  cursor: pointer;
  background-color: #444;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #111;
}

.list_container {
  font-size: 14px;
}

.item_name {
  font-size: 14px;
}

/*.item_link {
  width: 50px;
}*/

.item_link {
    margin-left: -1px;
    vertical-align: top;
    line-height: 22px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s; /* If you want a transition effect */
  /*padding: 20px;*/
}

#header {
  transition: margin-right .5s; /* If you want a transition effect */
  /*padding: 20px;*/
}

#site {
  transition: margin-right .5s; /* If you want a transition effect */
  /*padding: 20px;*/
}

#notebook_panel {
  transition: margin-right .5s; /* If you want a transition effect */
  /*padding: 20px;*/
}

.row{
  display: flex;
}

.sidebar a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidebar a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}